<nav class="bg-gray-900 text-white px-6 py-4 shadow-md">
  <div class="container mx-auto flex justify-center">
    <ul class="flex space-x-15 text-lg font-medium">
      <li><a [routerLink]="['/developer']" routerLinkActive="router-link-active"  class="text-gray-300 hover:bg-gray-700 hover:text-white px-15 py-2">Developer</a></li>
      <li><a [routerLink]="['/projects']" routerLinkActive="router-link-active"  class="text-gray-300 hover:bg-gray-700 hover:text-white px-15 py-2">Projects</a></li>
      <li><a [routerLink]="['/experiencie']" routerLinkActive="router-link-active"  class="text-gray-300 hover:bg-gray-700 hover:text-white px-15 py-2">Experiencie</a></li>
      <li><a [routerLink]="['/courses']" routerLinkActive="router-link-active"  class="text-gray-300 hover:bg-gray-700 hover:text-white px-15 py-2">courses</a></li>
    </ul>
  </div>
</nav>